// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Customize some defaults
$primary:#185CA1;
$secondary:#A11208;   //BOTÓN
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #b352ae;

// Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
 @import "bootstrap/scss/nav";
 @import "bootstrap/scss/navbar";
 @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
@import "bootstrap/scss/placeholders";

// Helpers
// @import "helpers";
@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";


//
// Custom styles
//

@import "icon-list";

//Añadidos
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');


// Style Bootstrap icons
.bi {
  fill: currentColor;
}

//Fondo login
body {
  background-image: url(../../img/fondo.jpg);
  background-size: cover;
}

// Formulario login
.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  margin-top: 7%;
  margin-bottom: 7%;
}

.mb-inicio {
  margin-bottom: 2rem !important;
}

.form-signin .checkbox {
  font-weight: 400;
  margin-top: 25px; //esto lo cambio
}
.form-floating{
  margin: 0.5em; //nuevooo
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}

#login-container{
  background: rgb(178, 184, 189, 0.8);
  border-radius: 5px;
  padding: 45px;
  text-align: center;
}

.w-500 {
  width: 400px;
}

.w-200 {
  width: 200px !important;

}

// Header login

.navbar{
height: 80px;
}

//Añadidos Header Login
.color{
	background: rgb(217,64,54);
	background: linear-gradient(180deg, rgba(217,64,54,1) 0%, rgba(184,18,7,1) 55%, rgba(158,18,9,1) 100%);
}



.menu-bar-navigation-links {
  color: #ffffff;
  margin-left: 14em;

}
